
.rocket-names{
        position: relative;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: auto 0;
        z-index: 1;

        
        
}
.rocket-names li{
   font-size: 40px;
   
}

.charts1{
    display: flex;
    position: relative;
    z-index: 1;
    justify-content:center;
   
    
}
.charts2{
    display: flex;
    position: relative;
    z-index: 1;
    justify-content:center;
   
}
.row {
    display: flex;
    position: relative;
    
	margin: 150px 0 0 0;
	padding: 0;
	list-style: none;
	
	text-align: center;
	width: 100%;
}

    
