.rockets-wrapper{
    margin-top: -600px;
}

.rocket-buttons{
    display: flex;
    justify-content: center;
    
}

.stats{
    display: flex;
    position: relative;
    z-index: 1;
    justify-content:center;
    color:white;
    list-style: none;
   
}
.rocket-button{
    background-color: crimson;
    border: red;
    z-index: 1;
}
.engines{
    list-style: none;
}
.first-stage{
    color: white;
    list-style: none;
}
.first-stage-engine-thrust{
    list-style: none;
}
.second-stage{
    list-style: none;
}
.second-stage-engine-thrust{
    list-style: none;
}
.rocket-header{
    font-size: 70px;
    border-bottom: 2px solid white
}

.stat-landing-legs{
    font-size: 25px;
}