.rocket-buttons{
    display: flex;
    justify-content: center;
    
}
.rocket-stats{
    display: flex;
    position: relative;
    z-index: 1;
    justify-content:center;
   
}
.rocket-button{
    background-color: crimson;
    border: red;
    z-index: 1;
}

.stats{ 
    color:white;
    list-style: none;
}
.first-stage{
    color: white;
    list-style: none;
}
.first-stage-engine-thrust{
    list-style: none;
}
.second-stage{
    list-style: none;
}
.second-stage-engine-thrust{
    list-style: none;
}