.rocket-buttons{
    display: flex;
    justify-content: center;
    
}
.rocket-stats{
    display: flex;
    position: relative;
    z-index: 1;
    justify-content:center;
    color:white
}
.rocket-buttons li {
    display: block;
    margin: 0;
}