.logout-btn{
    color:rgb(223,33,87);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    animation: fadeIn ease 45s;
    -webkit-animation: fadeIn ease 45s;
    -moz-animation: fadeIn ease 45s;
    -o-animation: fadeIn ease 45s;
    -ms-animation: fadeIn ease 45s;
}