html{
    overflow: hidden
}
body{
  margin:0;  
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y:auto;
}
.wrapper{
    width: 100vw;
    height: 200vh;
    margin-top: -27rem;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.wrapper::before{
    content:"";
    width: 100vw;
    height: 350vh;
    top: 0;
    left: 0;
    background-image:url('../../assets/images/spaceXlaunch.jpg');
    background-size: cover;
    position: absolute;
    z-index: -1;
    transform:translateZ(-1px) scale(2);
}
.content{
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: #aaaaaa
    
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom:130px;
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    z-index: 2;
    position: relative;
}

.jumbotron {
  position: relative;
  margin-top:100px;
}

.logo{
    content: url("../../assets/images/FalconLogo.png");
    width:75vw;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
   
}
.bigOlRocket{
    position: fixed;
    z-index:2;
    content: url("../../assets/images/Rocket.png");
    width:12vw;
    margin-top: 80px;
    margin-left: 10px;

}